<div class="welcomebox">
<div class="welcome">
    <br><br><br>
    <span class="wintime">“Life is better in black and white!”</span><br><br>
    <span class="wintime">― Avijeet Das</span><br><br>
    <span class="winner">ARE YOU READY?</span><br>
    <div class="startbox">
        <div class="starting">Start the Game</div>
    </div>

</div>
</div>

<div class="game-finish">
<div class="finish-inner">
    <br>
    <br>
    <br>
    <span class="winner">YOU ROCK!</span><br>
    <span class="wintime">Time you spent: </span><br>
    <div class="timer2"></div><br>
    <span class="wintime">Missed matches you made:</span><br>
    <div class="missmatch2"></div>
    <div class="startbox">
        <div class="again">Do it Again</div>
    </div>
</div>
</div>

    <header>
        <div>
            <h1>MEMORITOR</h1>
            <p id="subtitle">the unfriendly card-matching game</p>
        </div>
    </header>
    

    <div class="container">
    <div class="btnbox">
        <div class="btn">Restart</div>
    </div>
        <div class="thegame">
            <div class="timer"></div>
            <div class="missmatch"></div>
            <div class="cardboard"></div>
        </div>
    </div>
    </div>

    <footer><a href="https://github.com/BingShawLim" target="_blank">Create by Bing Shaw Lim</a></footer>