// Place all the styles related to the memo_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Saira+Stencil+One|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Shadows+Into+Light&display=swap');
body {
    padding: 0px;
    margin: 0px;
}

header {
    margin-top: 0%;
    width: 100%;
    height: 73px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

h1 {
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Anton', sans-serif;
}

#subtitle {
    font-size: 17px;
    margin-top: -1%;
    font-family: 'Shadows Into Light', cursive;
}

.btnbox {
    margin: 0%;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.starting,
.again,
.btn {
    width: 100%;
    height: 35px;
    background-color: #000;
    margin: auto;
    color: #fff;
    padding-top: 10px;
    font-family: 'Special Elite', cursive;
    cursor: pointer;
    text-align: center;
}

.starting:hover,
.again:hover,
.btn:hover {
    background-color: #ccc;
    color: #000;
}

.container {
    width: 800px;
    margin: auto;
    padding-bottom: 2.5rem;
}

.thegame {
    float: left;
    width: 100%;
    background-color: #eee;
    padding-bottom: 50px;
    min-height: 500px;
    margin: auto;
}

.timer,
.scoretitle {
    float: left;
    width: 100%;
    height: 50px;
    font-family: 'Black Ops One', cursive;
    font-size: 2em;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.missmatch {
    float: left;
    width: 100%;
    height: 30px;
    font-family: 'Black Ops One', cursive;
    font-size: 1em;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.cardboard {
    margin: auto;
    width: 600px;
    min-height: 500%;
}

.thescore {
    display: none;
    float: left;
    width: 100%;
    height: 50px;
    font-family: 'Black Ops One', cursive;
    font-size: 2em;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.game-finish {
    z-index: 10;
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.winner {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #fff;
}

.wintime {
    font-family: 'Black Ops One', cursive;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

.timer2,
.missmatch2 {
    float: left;
    width: 100%;
    height: 50px;
    font-family: 'Black Ops One', cursive;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

.welcomebox {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.welcome,
.finish-inner {
    width: 470px;
    margin: auto;
    position: relative;
    height: 60%;
    background-color: white;
    background-image: image-url('welcome.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 6%;
}

.startbox,
.scorebox {
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 0%;
    bottom: 60px;
    box-sizing: border-box;
    text-align: center;
}


/* ----------flip card area-------- */

.flip-card {
    float: left;
    width: 60px;
    height: 60px;
    padding: 2px;
    box-sizing: border-box;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    border-radius: 5px;
    cursor: pointer;
}

.rotate {
    transform: rotateY(180deg);
    box-sizing: border-box;
    -webkit-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background-color: #fff;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.flip-card-front {
    background-image: image-url('back.png');
}

.flip-card-back {
    background-color: #fff;
    transform: rotateY(180deg);
}

.memo1 {
    background-image: image-url('memo1.png');
}

.memo2 {
    background-image: image-url('memo2.png');
}

.memo3 {
    background-image: image-url('memo3.png');
}

.memo4 {
    background-image: image-url('memo4.png');
}

.memo5 {
    background-image: image-url('memo5.png');
}

.memo6 {
    background-image: image-url('memo6.png');
}

.memo7 {
    background-image: image-url('memo7.png');
}

.memo8 {
    background-image: image-url('memo8.png');
}

.memo9 {
    background-image: image-url('memo9.png');
}

.memo10 {
    background-image: image-url('memo10.png');
}

.memo11 {
    background-image: image-url('memo11.png');
}

.memo12 {
    background-image: image-url('memo12.png');
}

.memo13 {
    background-image: image-url('memo13.png');
}

.memo14 {
    background-image: image-url('memo14.png');
}

.memo15 {
    background-image: image-url('memo15.png');
}

.memo16 {
    background-image: image-url('memo16.png');
}

.memo17 {
    background-image: image-url('memo17.png');
}

.memo18 {
    background-image: image-url('memo18.png');
}

.memo19 {
    background-image: image-url('memo19.png');
}

.memo20 {
    background-image: image-url('memo20.png');
}

.memo21 {
    background-image: image-url('memo21.png');
}

.memo22 {
    background-image: image-url('memo22.png');
}

.memo23 {
    background-image: image-url('memo23.png');
}

.memo24 {
    background-image: image-url('memo24.png');
}

.memo25 {
    background-image: image-url('memo25.png');
}

.memo26 {
    background-image: image-url('memo26.png');
}

.memo27 {
    background-image: image-url('memo27.png');
}

.memo28 {
    background-image: image-url('memo28.png');
}

.memo29 {
    background-image: image-url('memo29.png');
}

.memo30 {
    background-image: image-url('memo30.png');
}

.memo31 {
    background-image: image-url('memo31.png');
}

.memo32 {
    background-image: image-url('memo32.png');
}

.memo33 {
    background-image: image-url('memo33.png');
}

.memo34 {
    background-image: image-url('memo34.png');
}

.memo35 {
    background-image: image-url('memo35.png');
}

.memo36 {
    background-image: image-url('memo36.png');
}

.memo37 {
    background-image: image-url('memo37.png');
}

.memo38 {
    background-image: image-url('memo38.png');
}

.memo39 {
    background-image: image-url('memo39.png');
}

.memo40 {
    background-image: image-url('memo40.png');
}